---
import bannerImageLeft from "../../assets/ad.png";
export interface Props {
  linkUrlLeft: string;
  linkUrlRight?: string;
}
const { linkUrlLeft } = Astro.props;
---

<div
  id="floating-ad-wrapper"
  class="fixed bottom-0 left-0 right-0 z-20 flex justify-center pointer-events-none"
>
  <div
    class="relative w-full flex justify-center pointer-events-auto px-8 2xl:px-0"
  >
    <div
      id="bottom-banner-container"
      class="w-full max-w-screen-xl flex justify-center items-center"
    >
      <div class="relative group w-full lg:w-auto">
        <a
          href={linkUrlLeft}
          target="_blank"
          rel="noopener noreferrer"
          class="block relative"
        >
          <img
            src={bannerImageLeft.src}
            width={bannerImageLeft.width}
            height={bannerImageLeft.height}
            alt="Quảng cáo YouTube Premium"
            class="block w-full h-auto max-h-[70px] object-cover rounded-t-lg"
          />
        </a>
        <button
          class="close-banner-btn absolute top-2 right-2 z-10 px-1 py-1 bg-black/70 text-white rounded text-xs hover:scale-105 transition-all duration-300"
          aria-label="Đóng quảng cáo"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"
            ></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const adWrapper = document.getElementById("floating-ad-wrapper");
  const closeButton = document.querySelector(".close-banner-btn");
  if (closeButton) {
    closeButton.addEventListener("click", (event) => {
      event.preventDefault();
      if (adWrapper) {
        adWrapper.remove();
      }
    });
  }
</script>

